* {
    color: black;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
  }

body {
  height: 150%;
    background-color: #000000;
  }

.begin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    position: absolute;
    top:10%;
    right: 36vh;
    height: 160vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 65%;
    border-radius: 15px;
    background-color: #0a0a0a;
    transition: 0.3s;
  }

  .card input{
    height: 18px;
    background-color: transparent;
    border: white 1.5px solid;
    border-radius: 5px;
  }

  .card select{
    height: 18px;
    border: white;
    border-radius: 5px;
  }

.logo{
  position: relative;
  right: 10px;
  top: 10px;
  padding: 0 60px 50px 60px;
  height: 60;
  width: 60px;
  background-image: url(images/logo-main-page.png);
  background-size: contain;
  background-repeat: no-repeat;
}

  /* .profile-picture-container{
    height: 40px;
  } */

  .input-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
  }

  .input-form label{
    font-size: 20px;
    padding-bottom: 40px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 90px;
  }



  .profile-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 2px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    background-color: #666;
    position: relative;
  }

  .icon-1 i {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  #previewImage,
  #cameraStream,
  #canvas {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  #previewImage {
    display: none;
  }

  #cameraStream,
  #canvas {
    display: none;
  }
  

 