* {
  color: whitesmoke;
  border: 0;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: #000000;
}



.begin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  position: fixed;
  top:10%;
  right: 36vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
  width: 65%;
  border-radius: 15px;
  background-color: #0a0a0a;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 4px 12px 4px #333;
}

.heading {
  position: fixed;
  top: 75px;
  right: 470px;
}

.social-login {
  position: absolute;
  background-color: transparent;
  width: 200px;
  top: 60px;
  right: 175px;
  margin-bottom: 20px;
}

.social-button {
  background-color: transparent;
  padding: 10px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

.social-button img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

#otp-section {
  display: none;
}

#otp-message {
  color: green;
  margin-top: 5px;
}

.begin {
  position: absolute;
  top: 150px;
  right: 200px;
}

.begin input {
  /* size:  */
  background-color: transparent;
  border: 0.5px solid white;
  border-radius: 5px;
}

/* Media queries for smaller devices */
@media only screen and (max-width: 400px) {
  .card {
      width: 80%; /* Adjust the width as needed */
      height: 80%; /* Adjust the right positioning as needed */
      display: flex;
      flex-shrink: 50% ;
  }

  .heading {
      right: 30%; /* Adjust the right positioning as needed */
  }

  .social-login {
      width: 100%; /* Adjust the width as needed */
      right: 0;
      text-align: center;
  }

  .begin {
      right: 10%; /* Adjust the right positioning as needed */
  }
}

/* Media queries for even smaller devices, like mobile phones */
@media only screen and (max-width: 480px) {
  .card {
      width: 90%; /* Adjust the width as needed */
      right: 5%; /* Adjust the right positioning as needed */
      display: flex;
      flex-direction: column;
      align-items: center ;
      flex-shrink: 70% ;
  }

  .heading {
      right: 20%; /* Adjust the right positioning as needed */
  }

  .social-login {
      width: 100%; /* Adjust the width as needed */
      right: 0;
      text-align: center;
  }

  .begin {
      right: 5%; /* Adjust the right positioning as needed */
  }
}